#formBox {
    padding: 50px;
    border: 1px solid #eee;
    box-shadow: 10px 10px 10px #ddd;
}

@media (min-width: 1200px) {
    #containerOne {
        width: 70%;
    }
}

@media (min-width: 768px) {
    #submitBtn {
        width: 300px;
    }
}

@media (max-width: 768px) {
    #submitBtn {
        width: 100%;
    }
}
